.background-container {
    display: block;
    width: 1366px;
    height: auto;
    background-image: url("./images/background 1.png");
    }

.logo {
    background-image: url("./images/logo 3.png");
    width: 53px;
    height: 47px;
    margin-top: 51px;
    margin-left: 161px;
    position: absolute;
}

.title {
    display: flex;
    width: 149px;
    height: 60px;
    flex-wrap: wrap;

    margin-left: 75px;
    margin-top: 0;
    position: absolute;

    color: white;
}
.text {
    font-size: 25px;
    text-transform: uppercase;
   }
.text1 {
    font-size: 19px;
    text-transform: uppercase;
}
.logo:hover {
    background-image: url("./images/logo 2.png");
    color: darkorange;
}
.title:hover {
    color: darkorange;
}
.e-mail {
    width: 219px;
    height: 21px;
    font-size: 18px;
    line-height: 18px;
    margin-left: 762px;
    margin-top: -50px;
}
.phone {
    display: inline-flex;
    width: 246px;
    height: 21px;
    font-size: 18px;
    line-height: 18px;
    margin-left: 850px;
    margin-top: -20px;
}

.grid-container {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 0;
    padding-right: 0;
    grid-gap: 52px;
    top: 124px;
    left: 165px;
    width: 1036px;
    height: 588px;
    position: absolute;
   }
.grid>div {
    justify-content: space-between;
    align-items: center;
}
.image {
    width: 300px;
    height: 220px;
    position: relative;
    border: 3px solid;
    border-image: linear-gradient(to left, black, white) 1 50%;
    border-image-slice: 1;
   }
/*.image-border-wrap {
    max-width: 250px;
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right, black, white);
    padding: 3px;
}
.item1{}
.item1:hover {}*/

.image-backgraund {
background-image: url("./images/gallery.png");
    width: 300px;
    height: 220px;
    position: relative;
    border: 3px solid;
    border-image: linear-gradient(to left, black, white) 1 50%;
    border-image-slice: 1;
}
.image-title1 {
    display: flex;
    width: 140px;
    height: 21px;
    margin-top: 235px;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 18px;
    color: white;
    position: absolute;
    padding-left: 86px;
}
.image-title1:hover {
       color: darkorange;
    }
.orange {
    display: flex;
    width: 300px;
    height: 55px;
    margin-top: 165px;
    border: 1px solid transparent;
    background-color: transparent;
    position: absolute;
}
.orange-text {
    display: flex;
    flex-direction: column;
    width: 32px;
    height: 24px;
    bottom: 10px;
    left: 16px;
    color: transparent;
    position: relative;
}
    .from {
        display: flex;
        width: 32px;
        height: 24px;
        bottom: 10px;
        left: 16px;
        font-size: 15px;
    }

.eur {
    width: 36px;
    height: 20px;
    top: 5px;
    left: 0;
    position: absolute;
    font-size: 25px;
      }
.details {
    display: flex;
    width: 98px;
    height: 14px;
    left: 178px;
    top: 10px;
    position: absolute;
    font-size: 14px;
}
.arrow {
    width: 6px;
    height: 6px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    margin-left: 260px;
    margin-top: 30px;
    position: absolute;
    transform: rotate(45deg);
}

.arrow:hover {
    border-top: 2px solid white;
    border-right: 2px solid white;
}

.orange-text:hover {
    color: white;
    }

.orange:hover {
    display: flex;
    width: 300px;
    height: 55px;
    margin-top: 165px;
    border: 1px solid transparent;
    background-color: darkorange;
    position: absolute;
}

.image-title {
    display: flex;
    width: 163px;
    height: 21px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: white;
    position: absolute;
    padding-left: 73px;
}
.page-footer {
    display: inline-flex;
    width: 506px;
    height: 21px;
    text-align: center;
    justify-content: center;
   margin-left: 430px;
   margin-top: 752px;
    color: white;
    margin-bottom: 15px;
    text-decoration-color: white;
    }

